.flex {
    flex-direction: column;
    display: flex;
    position: relative;

    img {
        width: 180px;
        height: 216.34px;
        flex-direction: column;
        display: flex;
        position: relative;
    }
}
